/ReG.pdf
/A.pdf
/AbsG.eps
/AbsG.pdf
/ReG.eps
/Light_cone.eps
/ImG.pdf
/ImG.eps
/moreland.pal
/G.pdf
/figxsliceRe.pdf
/figxsliceRe.eps
/data_fft.pdf
/data.pdf
/ReF_G_Gauss0.pdf
/G_Im.pdf
/ImF_G_Gauss0.pdf
/AbsF_G_Gauss0.pdf
